<!DOCTYPE html>
<html>
    <head>
        <title> Address - Add</title>
    </head>
    <body>
        <h1> Add New Address </h1>
        <form action="/address/insert" method="get" >
            Address street: <input id="street" type="text" />
            Zip code: <input id="zip_code" type="text" />
            <br />
            <input type="submit" />
        </form>
    </body>
</html>